<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/crew-commander.css">

    <title>Frontend Mentor | Space tourism website</title>
</head>

<body>
    <div class="row mt-5 ml-4">
        <div class="col-1">
            <img class="image-logo" alt="">
        </div>
        <div class="offset-5 col-6">
            <ng-include src="'/views/template-reutilizable.html'"></ng-include>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-3 bajar-texto">
            <span class="texto-secundario">SO, YOU WANT TO TRAVEL TO</span>
            <span class="texto-principal">SPACE</span>
            <span class="texto">Let´s face it: if you want to go to spance, yo might as well genuinely go to outer space
                and not hover kind of on the edge of it. Well sit back, and relax beacuse we´ll
                give you a trully out of this world experience!</span>
        </div>
        <div class="offset-4 col-2 bajar-texto-circulo circulo text-center">
            <span class="texto-encima">Explore</span>
        </div>
    </div>

</body>

</html>