<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/destination.css">

    <title>Frontend Mentor | Space tourism website</title>
</head>

<body>
    <div class="row mt-5 ml-4">
        <div class="col-1">
            <img class="image-logo" alt="">
        </div>
        <div class="offset-5 col-6">
            <ng-include src="'/views/template-reutilizable.html'"></ng-include>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-4 image-luna"></div>
        <div class="offset-1 col-6 bajar-texto">
            <span class="texto-principal">Moon</span>
        </div>
        <div class="offset-5 col-7">
            <span class="texto">See out planet as you´ve never seen it before. A perfect relaxing trip away to help
                regain perspective and come back refreshed. While you´re there, take in some history
                by visiting the Luna 2 and Apollo 11 landing sites.</span>
        </div>
    </div>

</body>

</html>