<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/#!/home">00 HOME</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="/#!/destination">01 DESTINATION</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="/#!/commander">02 CREW</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="/#!/technology">03 TECHNOLOGY</a>
            </li>
        </ul>
    </div>
</nav>